<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.atto.android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".AttoApplication"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id" />
        <meta-data
                android:name="com.kakao.sdk.AppKey"
                android:value="3a894b10b608a9920ff4a76038c1942b" />

        <activity
                android:name=".controller.activity.main.MainActivity"
                android:theme="@style/AppNoBarTheme"/>

        <activity
                android:name=".controller.activity.login.LoginActivity"
                android:theme="@style/AppNoBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="239d55d536dc653c8ac7c3fbaaf54824c92311d3"/>
    </application>

</manifest>